* {
    box-sizing: border-box;
}

body {
    z-index: -1;
    font-family: sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 100vh;
}
